* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tarjetas{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding: 40px 0;  
}

.nav{
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  border-radius: 20px;
}

.brand{
  display: flex;
  justify-content: center;
}

.logo {  
  background-color: #ffffff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.boton {
  display: flex;
  color: rgb(10, 10, 10);
  font-family: 'Pacifico', cursive;
  justify-content: center;  
  padding-left: 10px;
  padding-top: 30px;
}

.carrito{
  padding-right: 10px;
  margin: 30px; 
}

#backgr {
  background-color: #0a0707ea;
}

.counter{
  display: flex;
  justify-content: space-between;
  width: 100px;
  background-color: rgba(255, 68, 0, 0.904);
  margin: auto;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

strong{
  color: #ffffff;  
}

.formulario{
  width: 100%;
  background: #24303c;
  padding: 50px;  
  margin: auto;  
  margin-top: 10%;
  border-radius: 4px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.controles {
  width: 100%; 
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid rgba(255, 68, 0, 0.918);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.tienda {
  width: 100%;
  background: #db5f0d;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid rgba(255, 68, 0, 0.918);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.textarea{
  width: 100%;    
  background: #851919;
  border: none;
  padding: 10px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

.agregar{
  display: flex;
  justify-content: center;
}

.total{  
  background-color: #059c51;
  padding: 10px;
  width: 100%;
  height: 8%;
  margin: 10px;
  box-shadow: 7px 13px 37px #000;
  text-align: center;
  border-radius: 20px;
  justify-content: center;
}

h4{
  color: #ffffff;  
}