* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tarjetas{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding: 40px 0;  
}

.nav{
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  border-radius: 20px;
}

.brand{
  display: flex;
  justify-content: center;
}

.logo {  
  background-color: #ffffff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.boton {
  display: flex;
  color: rgb(10, 10, 10);
  font-family: 'Pacifico', cursive;
  justify-content: center;  
  padding-left: 10px;
  padding-top: 30px;
}

.carrito{
  padding-right: 10px;
  margin: 30px; 
}

#backgr {
  background-color: #0a0707ea;
}

.counter{
  display: flex;
  justify-content: space-between;
  width: 100px;
  background-color: rgba(255, 68, 0, 0.904);
  margin: auto;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

strong{
  color: #ffffff;  
}